html,
body {
	font-family: 'Shojumaru', cursive;
	font-size: 14px;
	background-image: url("../images/asanoha.png");
	position: relative;
}

.logo {
	position: absolute;
	top: 0;
	left: 0px;
	width: 150px;
	height: auto;
}

.container {
	position: relative;
	max-width: 640px;
	margin: auto;
}

.main {
	position: relative;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 55px;
}

h1 {
	padding: 0 0 0 18px;
	margin: 0;
	text-align: left;
}

h2 {
	font-size: 14px;
	padding: 0;
	margin: 0;
}

img {
	height: 100%;
	width: auto;
}

p {
	text-align: left;
	padding-left: 2px;
	margin: 0;
	height: 14px;
	font-size: 12px;
}

.char {
	display: flex;
	flex-direction: row;
	margin: 0px 7px 7px 7px;
	align-items: center;
}

.title {
	height: 60px;
	width: 520px;
	margin-left: 80px;
	margin-bottom: 10px;
}

.title-text {
	width: 500px;
	padding-left: 18px;
	line-height: 60px;
}

.char {
	height: 150px;
}

.arena {
	position: relative;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid black;
}

.arena-img {
	width: 100%;
	height: 300px;
}

.player-meter {
	position: absolute;
	height: 24px;
	top: 40px;
	left: 23px;
	width: 43%;
	border: 2px solid lightgrey;

}

.defender-meter {
	position: absolute;
	height: 24px;
	top: 40px;
	right: 23px;
	width: 43%;
	border: 2px solid lightgrey;
}

#ko {
	position: absolute;
	top: 35px;
	left: 283px;
	height: 33px;
	width: 40px;
	background-color: red;
	color: white;
	font-size: 20px;
	line-height: 33px;
	text-align: center;
	border: 2px solid lightgrey;
}

.name-row {
	position: absolute;
	top: 4px;
	width: 100%;
	padding-left: 23px;
	padding-right: 23px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 24px;
	color: red;
/*  background: -webkit-linear-gradient(top, red, yellow);
	background: linear-gradient(top, darkred, yellow);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	text-shadow: 2px 2px #000000;
}

.player-box,
.defender-box {
	position: absolute;
	z-index: 2;
	height: 134px;
	width: 100px;
	background-color: grey;
	opacity: 0.9;
	bottom: 30px;
}

.player-box {
	left: 50px;
}

.defender-box {
	right: 50px;
}

.fight {
	position: absolute;
	top: 130px;
	width: 100%;
	color: red;
	text-align: center;
	font-size: 30px;
	text-shadow: 2px 2px #000000;
}

.gen-row {
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 132px;
	margin-bottom: 5px;
}

.row-text {
	width: 18px;
	height: 150px;
	margin-right: 10px;
}

.char-box {
	width: 104px;
	color: white;
	text-align: center;
	cursor: pointer; 
  cursor: hand;
  font-size: 14px;
  margin-right: 10px;
  position: relative;
}

.char-content {
	height: 134px;
	width: 100px;
	display: flex;
  flex-direction: column;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.stats-box {
	position: absolute;
	top: 0;
	height: 132px;
	width: 100px;
	background-color: grey;
	opacity: 0.9;
	z-index: 1;
	transition: 0.5s;
}

.stats-ap {
	position: absolute;
	width: 100%;
	bottom: 3px;
	font-size: 12px;
	text-align: center;
	padding: 0;
}

.char-img {
	float: left;
	width: 80px;
	height: 115px;
	user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.char-row {
	display: flex;
	flex-direction: row;
	min-height: 115px;
}

#char_col {
	height: 115px;
	width: 15px;
	padding-left: 4px;
}

.stats-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#content_ryu {
	border: 2px solid black;
	background-color: black;
}

#content_ken {
	border: 2px solid red;
	background-color: red;
}

#content_blanka {
	border: 2px solid green;
	background-color: green;
}

#content_vega {
	border: 2px solid purple;
	background-color: purple;
}

#char_title {
	padding-top: 5px;
}

#enemy_title {
	padding-top: 35px;
}

#defender_title {
	padding-top: 20px;
}

/*Animations*/
.char-box:hover > .stats-hover {
	top: 18px;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
}
.stats-hover {
	top: 0px;
	transition: 0.3s;
	transition-timing-function: ease-in-out;
}

/*progress bars*/
.progress {
  -webkit-box-shadow: none;
  box-shadow: none;
	border-radius: 0px
}

.player-progress {
	background-color: yellow;
}

.defender-progress {
	background-color: red;
}

.player-bar {
	background-color: red;
}

.defender-bar {
	background-color: yellow;
}

/*Button*/
.button {
	height: 50px;
	width: 90px;
	cursor: pointer;
	margin: 25px auto;
	position: absolute;
	bottom: 0px;
	left: 260px;
}
.button .outer {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 5px;
	background: rgba(0,0,0,0.65);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-moz-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-transform: perspective(500px) rotateX(35deg);
	-moz-transform: perspective(500px) rotateX(35deg);
}
.button .outer .height {
	position: relative;
	height: 100%;
	margin-top: -7.5px;
	padding-bottom: 7.5px;
	background: #39a02d;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-moz-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}       
.button:hover .outer .height {
	margin-top: -5px;
	padding-bottom: 5px;
	background: #3aaf2d;
	box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-moz-box-shadow: rgba( 0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
}
.button:active .outer .height {
	margin-top: 0px;
	padding-bottom: 0px;
}
.button .outer .height .inner {
	line-height: 1.4em;
	font-size: 15px;
	letter-spacing: .05em;
	position: relative;
	height: 100%;
	text-align: center;
	text-shadow: #8aff7b 0px 0px 1px;
	background: #44d135;
	background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ec75), color-stop(100%,#43d034)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #80ec75 0%,#43d034 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #80ec75 0%,#43d034 100%); /* W3C */
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-moz-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height .inner{
	text-shadow: #99f48d 0px 0px 1px;
	background: #43d034; /* Old browsers */
	background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43d034), color-stop(100%,#67e45c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #43d034 0%,#67e45c 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #43d034 0%,#67e45c 100%); /* W3C */
}
.button:active .outer .height .inner{
	text-shadow: #319926 0px 1px 0px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	background: #1d7d12; /* Old browsers */
	background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d7d12), color-stop(100%,#4fd342)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* W3C */
}


